:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #cb3636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --yellow: rgb(230, 230, 0);
  --blue: rgb(70, 58, 246);
  --green: rgb(44, 222, 0);
  --red: rgb(247, 0, 0);
}

#reset {
  height: 40px;
  width: 100px;
  background-color: #333030;
  font-weight: bold;
  border: 5px solid black;
  border-radius: 20px;

  position: fixed;
  bottom: 5%;
  right: 5%;
}
#reset:hover {
  background-color: #595353;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  font-size: 200%;
  width: 200px;
  background-color: rgb(227, 11, 11);
  color: #ece225e0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: inherit;
  border: 5px solid black;
  margin: 0px;
  padding: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a:hover {
  background-color: #ff0000;
}
a:active {
  background-color: rgb(203, 0, 0);
}

nav {
  display: flex;
  gap: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#logOutButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
#logOutButton:hover {
  border-color: #646cff;
}
#logOutButton:focus,
#logOutButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


[class~="yellow"] {
  background-color: var(--yellow);
}

[class~="blue"] {
  background-color: var(--blue);
}

[class~="green"] {
  background-color: var(--green);
}

[class~="red"] {
  background-color: var(--red);
}

[class~="black"] {
  background-color: rgb(37, 37, 37);
}

[class~="reverse"] {
  background-color: rgb(37, 37, 37);
}

[class~="draw2"] {
  background-color: rgb(37, 37, 37);
}

[class~="skip"] {
  background-color: rgb(37, 37, 37);
}

  

.card{
  border: 4pt solid rgb(27, 27, 27);
  border-radius: 10px;
  width: 85px;
  height: 120px;
  text-align: center;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  flex-shrink: 0;
}



#innerCard {
  border: 10pt solid white;
  border-radius: 50%;
  background-color: white;
  width: 60%;
  height: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#centerPlayArea {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 90, 90);
  border: 20px solid rgb(255, 90, 90);
  border-radius: 25px;
  z-index: 1;
}

#drawPile{
  margin: 8px;
  width: 94.6px;
  height: 129.6px;
  border: 4pt solid rgb(255, 255, 255);
  border-radius: 6px;
  background-color: rgb(255, 28, 28);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#drawPile:hover {
  border: 6pt solid rgb(255, 255, 255);
}

#cardBackInner{
  border: 10pt solid rgb(19, 19, 19);
  border-radius: 50%;
  background-color: rgb(18, 18, 18);
  width: 50%;
  height: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#cardText{
  color: rgb(255, 255, 0);
  font-weight: bold;
  font-style:italic;
  font-size: large;
  transform: rotate(45deg);
}


#profPic {
  aspect-ratio: 1/1;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  position: fixed;
  bottom: 10px;
  left: 2%;
  width: 8%;
  padding: 5px;
}
#profSVG {
  height: 100%;
  width: auto;
}



#Player1Hand {
  background-color: antiquewhite;
  border: 20px solid antiquewhite;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  left: 45%;
  width: 60%;
  transform: translateX(-50%);
  overflow-x: auto;  /* or auto if you want horizontal scroll too */
}
#Player1Hand .card:hover {
  cursor: pointer;
  border: 5pt solid black;
}
#Player2Hand {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: w;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  height: 100px;
}
#Player2Pic {
  aspect-ratio: 1/1;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  position: fixed;
  top: 50%;
  left: 1%;
  width: 4%;
  padding: 5px;
  z-index: 1;
}
#Player3Hand {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 100px;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
#Player3Pic {
  aspect-ratio: 1/1;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  position: fixed;
  top: 10%;
  left: 40%;
  width: 4%;
  padding: 5px;
  z-index: 1;
}

#Player4Hand {
  position: fixed;
  top: 50%;
  right: 14%;
  transform: translateX(50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  height: 100px;
}
#Player4Pic {
  aspect-ratio: 1/1;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  position: fixed;
  top: 50%;
  right: 18%;
  width: 4%;
  padding: 5px;
  z-index: 1;
}


.smallCard{
  margin: 8px;
  width: 31.53px;
  height: 43.2px;
  border: 1.33pt solid rgb(255, 255, 255);
  border-radius: 6px;
  background-color: rgb(255, 28, 28);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.smallCardBackInner{
  border: 3.33pt solid rgb(19, 19, 19);
  border-radius: 50%;
  background-color: rgb(18, 18, 18);
  width: 50%;
  height: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.smallCardText{
  color: rgb(255, 255, 0);
  font-weight: bold;
  font-style:italic;
  font-size: 6.4px;
  transform: rotate(45deg);
}


.squareWild{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  gap: 2px;
  --border-radius: 100%;
  --square-width: 35px;
  --square-height: 45px;
  position: absolute;
}
.blueSquare{
  background-color: var(--blue);
  border-top-left-radius: var(--border-radius);
  width: var(--square-width);
  height: var(--square-height);
}
.redSquare{
  background-color: var(--red); 
  border-top-right-radius: var(--border-radius);
  width: var(--square-width);
  height: var(--square-height);
}
.greenSquare{
  background-color: var(--green);
  border-bottom-right-radius: var(--border-radius);
  width: var(--square-width);
  height: var(--square-height);
}
.yellowSquare{
  background-color: var(--yellow);
  border-bottom-left-radius: var(--border-radius);
  width: var(--square-width);
  height: var(--square-height);
}
#wild4Card {
  position: relative;
  width: 85px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chooseWild {
  background-color: white;
  position: fixed;

  border: 25px solid white;
  border-radius: 100%;

  left: 43%;
  bottom: 25%;
  
  display: grid;
  grid-template-columns: repeat(2, 50px); /* 2 columns */
  grid-template-rows: repeat(2, 50px);
  gap: 3px;

  z-index: 2;

  --square-border-r: 10px;
}
#chooseBlue {
  background-color: var(--blue);
  border-radius: var(--square-border-r);
}
#chooseRed {
  background-color: var(--red);
  border-radius: var(--square-border-r);
}
#chooseYellow {
  background-color: var(--yellow);
  border-radius: var(--square-border-r);
}
#chooseGreen {
  background-color: var(--green);
  border-radius: var(--square-border-r);
}
.wildChoice:hover {
  scale: 1.2;
  cursor: pointer;
}


#plus4 {
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-weight: bold;
  top: -4%;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}


#title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  font-size: xx-large;
  font-weight: bold;

  position: absolute;
  top: 35%;
  left: 38%;
}
#selectAI {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  scale: 1.5;
}

.startButton {
  padding: 20px 40px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.startButton:hover {
  background-color: #ff6666;
}
.startButton:active {
  background-color: #333030;
}



#profile {
  align-items: center;
  justify-content: center;
  padding: 10%;
  display: flex;
  flex-direction: column;
}
.stat {
  font-size: xx-large;
}



#requestContainer {
  position: relative;
  border: 10px solid black;
  left: 25%;
  right: 25%;
  width: 50%;
  min-width: 200px;
  height: 60px;
  background-color: #fd7474;
  scale: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
}
#reqName {
  font-size: xx-large;
  font-weight: bold;
}
.reqList{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#delFri {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  background-color: red;
  border-radius: 100%;
  font-size: xx-large;
  font-weight: bold;
}
#delFri:hover {
  background-color: rgb(255, 98, 98);
  cursor: pointer;
}
#accDel {
  display: flex;
  gap: 40px;
}
#accFri{
  width: 50px;
  height: 50px;
  border: 5px solid black;
  background-color: rgb(37, 202, 0);
  border-radius: 100%;
  font-size: xx-large;
  font-weight: bold;
}
#accFri:hover{
  background-color: rgb(42, 228, 0);
  cursor: pointer;
}
#friendIdInput {
  position: relative;
  top: 50%;
  width: 160px;
  height: 40px;
  font-size: xx-large;
}
#addFriendBut {
  background-color: #595353;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  width: 40px;
  height: 45px;
  font-size: xx-large;
  font-weight: bold;
}
#addFriendBut:hover {
  background-color: #797272;
  cursor: pointer;
}
#addFriendBut:active {
  cursor: pointer;
  background-color: #333030;
}
#addFriend {
  display: flex;
  justify-content: center;
}
